#container{
    width: 960px;
    height: auto;
    border: solid black 1px;
}
.row{
    display: flex;
}
.gridSquare{
    width: 1rem;
    height: 1rem;
    border: solid black 1px;
    flex: 1;
}
body{
    background-color: beige;
}